table{
    width: 70%;
    height: 70%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

td, th {
    width: 10%;
    border: 1px solid black;
}
thead {
    border-bottom: 2px solid black;
    background-color: rgb(240, 240, 240);
}

.saturday {
    color: blue;
}

.sunday {
    color: red;
}

.freeDay {
    background-color: rgb(184, 175, 175);
    color: white;
}

.lunch {
    background-color: yellow;
    color: red;
}
