@charset "UTF-8";
.help form {
	text-align: center;
	margin: 4% auto;
	width: 100%;
	max-width:500px;
	box-sizing:border-box;
	padding:45px;
	background:#fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	border-radius:30px;
}
.help table{
	width:100%;
	margin: auto;
	border-collapse:collapse;
	border-spacing: 0 10px;
}
.help table td{
	padding-bottom:10px;
}
.help select {
	width: 100%;
	text-align:center !important;
	height:40px;
	font-size:13px;
	border-radius:3px;
	color:#757575;
	border:0;
	border-radius:30px;
	background:#efefef;
	box-sizing:border-box;
	padding:0 20px;
}
.help select:focus{
	background:#f9f9f9;
}
.help td.ml{
	padding-left:8px;
}
.help td input {
	width: 100%;
	height:40px;
	text-align: center;
	box-sizing:border-box;
	font-size:13px;
	border:0;
	border-radius:30px;
	background:#efefef;
}

.help td input[type=text]:focus{
	background:#f8f8f8;
}
.help input[type=button] {
	border:1px solid #3a3a3a;
	background:#3a3a3a;
	color:#fff;
	border-radius:30px;
	transition:all 0.3s;
	line-height:36px;
	box-sizing: border-box;
}
.help input[type=button]:hover {
	border:1px solid #f9c07f;
	background:#f9c07f;
	transition:all 0.3s;
	color:#000;
}
.help input[type=submit]{
	height:40px;
	width:108px;
	border:1px solid #3a3a3a;
	background:#fff;
	color:#3a3a3a;
	border-radius:30px;
	box-sizing: border-box;
	font-size:15px;
	font-weight:500;
	margin-top:15px;
	transition:all 0.3s;
	line-height:36px;
}
.help input[type=submit]:hover {
	background:#f9c07f;
	border:1px solid #f9c07f;
	transition:all 0.3s;
}

@media screen and (max-width:768px){
	.help {
		margin: 5% auto 15%;
		box-sizing:border-box;
		width:100%;
		padding:0 18px;
	}
	.help form {
		padding:30px;
	}
	.help  select {
		font-size:12px;
	}
	.help td input {
		font-size:12px;
	}
	.help input[type=submit]{
		font-size:13px;
	}
}
@media screen and (max-width:350px){
	.help form {
		padding:18px;
	}
}