body{
	background:#8994f5;
	margin:0;
}
body>div{
	background:#fff;
	max-width:400px;
	width:100%;
	padding:30px;
	box-sizing:border-box;
	margin:0 auto;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border-radius: 15px;
	box-shadow: 0 0 15px rgb(0 0 0 0.1);
}
h3{
	margin:0 0 20px;
}
input {
    width:calc(100% - 98px);
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    font-size: 13px;
    border: 0;
    border-radius: 30px;
    background: #efefef;
}
input[type=text]:focus {
    background: #f8f8f8;
}
input[type=submit] {
	width:88px;
    background: #3a3a3a;
    color: #fff;
    border-radius: 30px;
    transition: all 0.3s;
    line-height: 36px;
    box-sizing: border-box;
    font-weight:700;
}

/*input[type=submit]:hover {
}*/

input[type=button] {
	width:200px;
    background: linear-gradient(
125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color: #fff;
    border-radius: 30px;
    transition: all 0.3s;
    line-height: 36px;
    box-sizing: border-box;
    font-weight:700;
    display:block;
    margin:20px auto 0;
}

input[type=button]:hover {
    background: linear-gradient(
125deg,#81ecec,#6c5ce7,#81ecec);
	background-position: right;
    background-size: 200%;
    transition: all 0.3s;
    background-position: right;
}