@charset "UTF-8";
.field {
	text-align: center;
	margin-top: 5%;
	width: 100%;
}

.field form {
	width: 100%;
}
.field table{
	width: 70%;
	margin: auto;
	border-collapse: seperate;
	border-spacing: 0 10px;
}

.field  select {
	width: 100%;
	text-align: center;
}
.field td>input {
	width: 98%;
	text-align: center;
}
