@charset "UTF-8";

ul {
	list-style: none;
	padding:0;
}
.mlist_con a{
	text-decoration:none;
	color:#000;
}
ul .row {
	display: flex;
	flex-direction: row;     /* 기본값 */
}
.row > li{
	padding: 3px 0px;
}
.row > li:nth-child(1){  /* .row 의 자식태그 중 li 그리고 그 li의 n번째 위치(자식요소)로 select  */
	flex-basis:15%;
}	
.row > li:nth-child(2){
	flex-basis:85%;
}

.mypage {
	padding:0 28px;
}
.mypage>p{
	display:flex;
	justify-content:space-between;
	padding: 20px;
    background: #f7f7f7;
    margin: 0 10px 10px;
    border-radius: 3px;
    color: #000;
}
.pronum{
	font-size:14px;
	line-height:20px;
}
.mycont-div{
	max-height:400px;
	overflow-y:auto;
	margin-bottom:1em;
}
.mycont-div>ul{
	min-height:400px;
	margin:0;
}
.mycont-div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.mycont-div::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.mycont-div::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.mlist_con {
	display: flex;
	flex-wrap: wrap;
}
.mycont {
	flex-basis: calc(25% - 20px);
	margin:10px;
	border-radius:3px;
	padding:5px 10px;
	box-sizing:border-box;
	border: 1px solid #d1d1d1;
	text-align:center;
}
.mlist_con.ie>div {
	flex-basis: calc(25% - 42px);
}
li{
	list-style:none;
}

@media screen and (max-width:950px){
	.mypage{
		padding:0;
	}
	.mycont {
		flex-basis: calc(50% - 20px);
	}
	.mlist_con.ie>div {
		flex-basis: calc(50% - 42px);
	}
	.mycont-div{
		max-height:350px;
	}
	.mycont-div>ul {
	    min-height: 350px;
	}
}
@media screen and (max-width:750px){
	.mlist_con {
	    flex-direction: column;
	}
	.mycont {
		flex-basis:auto !important;
	}
}
@media screen and (max-width:500px){
	.mypage>p{
		flex-direction:column;
		text-align:center;
	}
	.pronum{
		margin-top:15px;
	}
}